<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <span class="navbar-brand">Admin Panel</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#AdminNavbar"
            aria-controls="AdminNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="AdminNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.index') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.create_post') }}">Create post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>