{% extends 'admin/base.html' %}
{% from 'macros.html' import field_error %}

{% block page_content %}
<div class="container">
    <h1 class="text-center pt-4">Admin Create Post</h1><br><br><br>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-4">
            <form action="{{ url_for('admin.create_post') }}" method="post">
                <fieldset>
                    <legend class="fw-bold">Create New Post</legend><br><br>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label(class="form-label") }}
                        {{ form.title(class="form-control") }}
                        {{ field_error(form.title) }}
                    </div>
                    <div class="mb-3">
                        {{ form.summary.label(class="form-label") }}
                        {{ form.summary(class="form-control") }}
                        {{ field_error(form.summary) }}
                    </div>
                    <div class="mb-3">
                        {{ form.content.label(class="form-label") }}
                        {{ form.content(class="form-control") }}
                        {{ field_error(form.content) }}
                    </div>
                    <div class="mb-3">
                        {{ form.slug.label(class="form-label") }}
                        {{ form.slug(class="form-control") }}
                        {{ field_error(form.slug) }}
                    </div>
                    <div class="mb-3">
                        {{ form.categories_.label(class="form-label") }}
                        {{ form.categories_(class="form-control",style="list-style-type: none;") }}
                        {{ field_error(form.categories_) }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}