{% extends 'admin/base.html' %}

{% block page_content %}
<div class="container">
	{% if posts %}
	<h1 class="text-center pt-4">List posts</h1><br><br><br>
	<table class="table table-hover table-striped table-responsive">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Description</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>

		<tbody class="table-group-divider">
			{% set index = namespace(value=0) %}
			{% for post in posts %}
			{% set index.value = index.value + 1 %}
			<tr>
				<th scope="row">{{ index.value }}</th>
				<td><a href="{{ url_for('blog.single_post',slug=post.slug) }}" class="text-decoration-none fw-bold">{{
						post.title }}</a></td>
				<td>{{ post.content|striptags()|truncate(32,false,'...') }}</td>
				<td>
					<a href="{{ url_for('admin.delete_post',post_id=post.id) }}"
						class="btn btn-danger btn-sm mb-1">Delete</a>
					<a href="{{ url_for('admin.modify_post',post_id=post.id) }}"
						class="btn btn-warning btn-sm mb-1">Modify</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
</div>
{% endblock %}